@use "variables";
@use "container";
@use "_mixins";
@use "utils.scss";
@use "base.scss";
// @import '../icomoon/style';
body, html {
	margin: 0px;
	height: 100%;
	// overflow: hidden;
}
* {
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
}

#app {
	position: relative;
	transition: 1s;
	min-height: 100vh;
	// background-image: url('~_images_/design.jpg');
	background-color: var(--app-bg-color);
	background-color: var(--neutral-1);
	overflow-x: hidden;
}